.details{
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    gap: 3rem;
}

.room-struct{
    display: flex;
    gap: 10px;
}

#loc{
    font-size: 1.5rem;
    font-weight: 500;
    font-weight: bold;
    color: rgb(53, 52, 52);

}

.dot{
    width: 4px;
    height: 4px;
    transform: translateY(9px);
    background-color: rgb(43, 41, 41);
    border-radius: 50%;
}

.rooms{
    font-size: 1.20rem;
}

.rooms-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.host-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.host{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.host-name{
    font-size: 1.25rem;
}
.host-joined{
    font-size: 1rem;
    color: rgb(30, 29, 29);
}

.place-offers {
    margin: 20px 0;
}

.offers-heading {
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.ammenities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.ammenities li {
   list-style: none;
   display: flex;
   gap: 10px;
}
.am-name{
    font-size: 1.10rem;
}
.am-img{
    height: 25px;
    width: 25px;
}

.rules{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rules-heading{
    font-size: 1.5rem;
    font-weight: 600;
}

.house-rules{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.house-rules li{
    list-style: circle;
    margin-left: 1rem;
}

