/* section{
    display: flex; 
    gap: 1rem;
    border: 1px solid black;
    padding-top: 1rem; 
     padding-left: 2.25rem;
}  */

/* section img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
} */


.slider{
    border: none;
    color: rgb(18, 18, 18,0.75);
    background-color: rgb(244, 239, 239);
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

.slider:hover{
    background-color: rgb(228, 232, 232);
}
.category-container{
  display: flex;
  /* border: 1px solid black; */
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.category-slider {
    background-color: white;
    /* border: 1px solid black; */
    width: 92vw;
    /* margin-top: 0.5rem; */
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-top: 7px;
    padding-bottom: 5px;
  } 
  
  .slick-prev, 
  .slick-next {
    width: 32px !important;
    height: 40px !important;
    z-index: 1;
  } 
  
  /* .slick-prev:before, 
  .slick-next:before {
    display: block
  background: rgba(0, 0, 0, 0.5);
  color: black;
  width: 40px;
  height: 40px;
  } */

  .slick-slide {
    /* margin: 0 8px;  Create gap between slides */
    /* margin-left: 1px; */
    /* border: 1px solid black; */
    margin-left: 5px;
  }

  
  /* .slick-track {
    display: flex;
    gap: 1rem;
  } */
  
  /* .slick-list {
    margin: 0 -10px;
  } */

  .filter-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1001;
  }
  .filter-btn{
    display: flex;
    border: 1px solid black;
    padding: 0 7px;
    border-radius: 10px;
    color: rgb(87, 85, 85);
    gap: 2px;
    max-height: 35px;
    cursor: pointer;
    margin-top: 9px;
    justify-content: center;
    align-items: center;
  }