*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    background-image: url('./assets/LoginImg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.text{
    overflow: hidden;
    position: relative;
    margin: 1px solid red;
    top: 0;
    animation: downflow 3s ease forwards;
    opacity: 0;
}

@keyframes downflow {
    from{
        top: 0;
        opacity: 0;
    }
    to{
        top: 10%;
        opacity: 1;
    }
    
}

.type{
    display: inline-block;
    transform: translateY(10%);
    height: 100%;
}

#text-heading{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: type 1.5s steps(18,end) forwards;
    animation-delay: 2s;
}

@keyframes type {
    from{
        width: 0;       
    }
    to{
        width: 100%;
    }
    
}

.login-form{
    background-color: rgb(164, 155, 143,0.75);
    text-align: center;
    max-width: 30vw;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 40vh;
}
form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.user-input,.pass-input{
    display: flex;
    gap: 5px;
}


.pass-input input{
    transform: translateX(3px);
}

form input{
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
input::placeholder{
    color: rgb(158, 163, 163);
}

.login-btn{
    padding: 8px 15px;
    transform: translateY(1rem);
    font-family: 'Poppins',sans-serif;
    color: white;
    background-color: burlywood;
    border: none;
    border-radius: 5px;
}