.user-action{
    /* background-color: rgb(14, 14, 14); */
}

.user-action-list{
    list-style: none;
}


.wish,.logout{
    padding: 10px;
    cursor: pointer;
}

.wish:hover,.logout:hover{
    background-color: rgb(238, 240, 241,0.5);
}